@model IAmSpeed.Models.SingleGameBase

@*NOT IN USE*@

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.data.names.international</h1>
<img src="@Model.data.assets.coverlarge.uri"/>
<label><strong>Year Released: </strong></label>
<span>@Model.data.released</span>
<a asp-action="Create" asp-route-id="@Model.data.id">Use This Game</a>
