@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
</div>
    <h4>About</h4>
    <p>This app is designed to help speedrunners create and organize their strategies </p>
<p><strong>Speedrunning</strong> - Playing through a video game with the intention to beat it as fast as possible</p>
<p><strong>Manage Segments</strong> - Lets you view your saved games, add new games, and create/edit/delete segments</p>
<p><strong>Find Segments</strong>- Lets you find segments that other users have created. Click clone segment to add it to your segments where you can then edit or delete them</p>
<p><strong>Leaderboard</strong> - View the fastest times of any game by category</p>
<br />
<br />
<p>Created by Alex Thacker</p>
<p>Hope you enjoy</p>