@*Details for LeaderBoard*@

@model IAmSpeed.Models.LeaderBase

@{
    ViewData["Title"] = "Details";
}

<h2>Top 10</h2>

<p>hour/minute/second/milisecond</p>
@foreach (var r in Model.data)
{
    foreach (var p in r.runs)
    {
        <div>
            <span>@p.place .</span>
            <span>@p.run.times.timeInMinutes</span>
            <div>
            <a href="@p.run.videos.links.First().uri" target="_blank">--Video Link--</a>
                </div>
        </div>
    }
}